html {
  height: 100%;
}

p {
  display: inline;
}

.bg {
  /*background-color: #BF6600;*/
  background: repeating-linear-gradient(
  45deg,
  #BC690A,
  #BC690A 10px,
  #935309 10px,
  #935309 20px);
  /*font-family: Lucida Sans Unicode;*/
  font-family: 'Droid Serif', Georgia, serif;
  font-size: 125%;
  color: #34495e;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.tablet {
  background: #FF8C08;
  border-radius: 25px;
  display: block;
  height: auto;
  min-height: 75%;
  width: 75%;
  text-align: center;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.22);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.22);
  box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.22);
  padding: 0px;
  overflow:hidden;
}

.grid:after {
  content:"";
  display:table;
  clear: both;
}

.item {
  float:left;
  width: 25%;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.button {
  background: linear-gradient(#FF951A,#935309);
  padding: 20px;
  font-size: 150%;
  display: inline-block;
  float: left;
  width: 25%;
  text-decoration: none;
  color: inherit;
  text-shadow: 1px 1px 1px #FF951A;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.22);
  box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.22);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  -webkit-transition: linear-gradient 2s;
}

.buttonLeft {
  border-radius: 10px 0px 0px 0px;
}

.buttonRight {
  border-radius: 0px 10px 0px 0px;
}

.button:hover, .btnClicked {
  background: linear-gradient(#935309,#FF951A);
  /*background: linear-gradient(#FF951A,#935309);*/
}

.img {
  height: auto;
  width: auto;
  max-width:400px;
  max-height:400px;
  border-radius: 25px;
  box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.22);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  display: inline-block;
  
  margin-right: 20px;

}

.img2 {
  width: auto;
  max-width:100%;
  max-height:100%;
  border-radius: 25px;
  box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.22);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  display: inline-block;
}

#about, #projects, #contact {
  display: none;
}



#menu {
  display: block;
  height: 20%;
}

#content {
  display:inline-block;
  height:80%;
  padding: 20px;
  text-align: justify;
  margin: 0 auto;
  width: 80%;
}

figcaption {
    margin: 10px 0 0 0;
    font-variant: small-caps;
    font-size: 100%;
    text-align:center;
}

figure {
  float:left;
}

/* color palette
http://paletton.com/#uid=50D0Z0kw0tCsIJLu+Cdudnzu4iw
*/